body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  min-width: 1024px;
  min-height: 780px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.dashboard {
  position: absolute;
  background-color: white;
  left: 200px;
  top: 110px;
  width: 90%;
}

.dashboard-title {
  font-size: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 5%;
}

.dashboard-name {
  color: #ff0101;
}

.dashboard-message {
  font-size: 18px;
}

.dashboard-graph {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2);
  justify-content: space-between;
  grid-template-areas:
    "barchart barchart barchart cardinfo"
    "linechart radarchart radialbarchart  cardinfo";
  gap: 10px;
}
