.toolbar {
  grid-area: toolbar;
  background-color: black;
  padding-bottom: 60px;
  width: 117px;
  height: 750px;
  display: flex;
  flex-direction: column;
  gap: 30%;
  align-items: center;
  position: relative;
}

.list-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  gap: 20px;
}
.list-icon img {
  margin: auto;
  display: block;
}

.list-icon-item {
  background-color: #fff;
  border-radius: 6px;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  text-align: center;
  transform: rotate(270deg);
  color: #fff;
  padding-bottom: 5px;

  /* Empecher le retour a la ligne */
  /* https://www.zonecss.fr/faq/presentation-du-texte-avec-css.html */
  white-space: nowrap;
}
